h1,
h2 {
    margin-bottom: 20px;
    /* color: #1b5e20;   */
    font-size: 20px;
}

/* Botones */
.btn-reservar {
    background: #1b5e20;
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 14px;
}

.btn-reservar:hover {
    background: #2e7d32;
}

.form-observation {
    margin-top: 1.5rem;
}

textarea {
    width: 372px;
    height: 130px;
}